@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
.App,
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.components-contain {
  position: relative;
}

.App {
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #333;
  background-image: url(/images/noise.png);
}

.App .contain {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}

.App .contain h1 {
  -webkit-transform: translateX(-220px);
          transform: translateX(-220px);
  margin-bottom: 50px;
  font-size: 48px;
  color: #d9b611;
  text-decoration: underline;
}

.App .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 3000px;
          perspective: 3000px;
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: -webkit-transform 1000ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 1000ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 1000ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 1000ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.App .wrapper .card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  opacity: 0.5;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(50deg) scale(0.9);
          transform: rotateX(50deg) scale(0.9);
  -webkit-transition: opacity 700ms ease-in, -webkit-transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 700ms ease-in, -webkit-transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 700ms ease-in, transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 700ms ease-in, transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 100;
}

.App .wrapper .card.active {
  z-index: 300;
  opacity: 1;
  -webkit-transform: rotateX(0deg) scale(1);
          transform: rotateX(0deg) scale(1);
}

.buttons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  font-family: "Cedarville Cursive", cursive;
  font-size: 30px;
  color: #d9b611;
  position: relative;
  padding: 20px;
}

.buttons:hover {
  cursor: pointer;
}

@media (max-width: 1400px) {
  .App .contain {
    -webkit-transform: translateX(750px);
            transform: translateX(750px);
  }
  .App .contain h1 {
    -webkit-transform: translateX(-210px);
            transform: translateX(-210px);
    margin-bottom: 80px;
    font-size: 40px;
  }
  .App .wrapper .card {
    height: 300px;
    width: 300px;
  }
  .App .buttons {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .App .contain {
    -webkit-transform: translateX(670px);
            transform: translateX(670px);
  }
  .App .contain h1 {
    -webkit-transform: translateX(-210px);
            transform: translateX(-210px);
    margin-bottom: 80px;
    font-size: 36px;
  }
  .App .wrapper .card {
    height: 270px;
    width: 270px;
  }
  .App .buttons {
    width: 270px;
  }
}

@media (max-width: 600px) {
  .App .contain {
    -webkit-transform: translateX(580px);
            transform: translateX(580px);
  }
  .App .contain h1 {
    -webkit-transform: translateX(-165px);
            transform: translateX(-165px);
    margin-bottom: 80px;
    font-size: 28px;
  }
  .App .wrapper .card {
    height: 230px;
    width: 230px;
  }
  .App .buttons {
    width: 230px;
  }
}

@media (max-width: 600px) {
  .App .contain {
    -webkit-transform: translateX(580px);
            transform: translateX(580px);
  }
  .App .contain h1 {
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px);
    margin-bottom: 80px;
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .App .contain {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  .App .contain h1 {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    margin-bottom: 80px;
    font-size: 20px;
  }
  .App .wrapper .card {
    height: 200px;
    width: 200px;
  }
  .App .buttons {
    width: 200px;
    font-size: 25px;
  }
}

@media (max-width: 380px) {
  .App .contain {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  .App .contain h1 {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    margin-bottom: 80px;
    font-size: 16px;
    word-break: normal;
  }
  .App .wrapper .card {
    height: 200px;
    width: 200px;
  }
  .App .buttons {
    width: 200px;
    font-size: 25px;
  }
}
/*# sourceMappingURL=App.css.map */